/* Import font*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
  /* Fonts  */
  --fsg: 135px; /* Time and Greeting */
  --fsm:  75px;  /* Date */
  --fss:  25px;  /* Greetings and Weather widger */
  --fses: 16px; /* Links List */
  --imgcol: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); /* Filter color */

  /* Light theme  */
  --accent: #91C67C; /* Hover color */
  --bg:     #121212; /* Background color */
  --sbg:    #212121; /* Cards color */
  --fg:     #d8dee9; /* Foreground color */
  --bbg:    #444444; /* Search bar color */
}

@media only screen and (max-width: 68.75em) {
  :root {
    --fsg: 100px;
    --fsm: 65px;
    --fss: 20px;
  }
}

/* Dark theme  */
.darktheme {
  --accent: #9169ac; /* Hover color */
  --bg:     #121212; /* Background color */
  --sbg:    #212121; /* Cards color */
  --bbg:    #444444; /* Search bar color */
  --fg:     #d8dee9; /* Foreground color */
  --imgcol: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));    /* Filter color */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 13.5px;
  transition: 0.2s ease-in-out;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  background-image: var(--imgcol), var(--imgbg);
  display: flex;
  align-items: center;
  justify-content: center;
}

#themeButton {
  position: absolute;
  margin: 2em 2em 0 0;
  right: 0;
  top: 0;
  color: var(--fg);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: #00000000;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.bicon {
  width: 46px;
  height: 46px;
}

.container {
  width: 150vh;
  height: 85vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 30px;
  padding: 0px;
}
@media only screen and (max-width: 68.75em) {
  .container {
    grid-gap: 0px;
    padding: 0px;
  }
}
.container > * {
  width: 100%;
}

.card {
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  background-color: var(--sbg);
}
.card:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35);
}

.fblock {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 68.75em) {
  .fblock {
    grid-row: 1 / span 2;
    grid-column: 1 / span 4;
  }
}

.sblock {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sblock__date {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.sblock__weather {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 68.75em) {
  .sblock {
    display: none;
  }
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
}

#hour,
#separator,
#minutes {
  font-size: var(--fsg);
  font-weight: bolder;
  color: var(--fg);
}

#month,
#day {
  font-size: var(--fsm);
  font-weight: bold;
  color: var(--fg);
}

#day {
  margin-left: 20px;
}

#greetings {
  font-size: var(--fss);
  font-weight: bold;
  color: var(--fg);
}

@media only screen and (max-width: 68.75em) {
  #greetings {
    font-size: var(--fss);
    font-weight: bold;
  }
}

.weather-icon img {
  width: 70px;
  height: 70px;
}

.temperature-value p {
  font-size: var(--fss);
  font-weight: bolder;
  margin-left: 15px;
  color: var(--fg);
}

.temperature-description p {
  font-size: var(--fss);
  margin-left: 15px;
  color: var(--fg);
}

.qlink {
  grid-row: 3 / span 2;
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  padding: 20px;
}
@media only screen and (max-width: 68.75em) {
  .qlink {
    grid-row: 3 / span 2;
    grid-column: 1 / span 4;
    grid-gap: 20px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
.qlink__icon_big {
  width: 50%;
  height: 30%;
  color: var(--fg);
}

.qlink__icon {
  width: 23px;
  height: 23px;
  color: var(--fg);
}
.qlink__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sbg);
  width: 100%;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}
.qlink__link-1 {
  grid-row: 1;
  grid-column: 1;
}
.qlink__link-2 {
  grid-row: 1;
  grid-column: 2;
}
.qlink__link-3 {
  grid-row: 2;
  grid-column: 1;
}
.qlink__link-4 {
  grid-row: 2;
  grid-column: 2;
}
.qlink__link-5 {
  grid-row: 1;
  grid-column: 3;
}
.qlink__link-6 {
  grid-row: 2;
  grid-column: 3;
}
.qlink__link:hover {
  background-color: var(--accent);
  transform: translateY(-0.2rem);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35);
}
.qlink__link:hover svg {
  stroke: var(--fg);
}

.qlist {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 68.75em) {
  .qlist {
    display: none;
  }
}
.qlist__1 {
  grid-column: 3;
  grid-row: 3 / span 2;
}
.qlist__2 {
  grid-column: 4;
  grid-row: 3 / span 2;
}
.qlist__head {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 40px;
  color: var(--fg);
  height: 40px;
}
.qlist__link {
  text-decoration: none;
  font-size: var(--fses);
  color: var(--fg);
  margin-top: 1px;
  padding: 6px 12px;
  border-radius: 5px;
  font-weight: bold;
}
.qlist__link:hover {
  background-color: var(--accent);
  color: var(--fg);
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.searchbox {  
float: left;  
}  
  input[type=text] {  
  width: 100%;
  padding: 6px;  
  font-size: 17px;  
  border: none;
  background-color: var(--bbg);
  color: var(--fg);

}  

.searchbox button {    
  padding: 8px;  
  margin-top: 10px;  
  margin-left: 10px;  
  background: orange;  
  font-size: 20px;  
  border: none;  
  cursor: pointer;  
}  
.searchbox button:hover {  
  background: blue;  
}  